<div class='controls'>
<% if (logScreens.length > 1) { %><a href="#" class='close'>close</a><% } %>
  <a href="#" class='clear screen'>clear</a>
  <a href="#" class='filter'>filter <input type='text'/></a>
</div>
<div class='messages'>
  <div class='msg'></div>
</div>
